*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

form {
    width: 60%;
    margin: auto;
     
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #afc6d7;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 5px;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4e555a;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #005ca3;
  }
   
