
.Box1{
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    margin-top: 3%;
    background-color: #aac6db;
    padding: 10px;
    text-align: center;
}

button{
    display: inline-block;
    margin-left: 10px;
    flex-direction: row;
    border: 1px solid greenyellow;
    justify-content: space-around;
}